/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body {
  background-color: rgba(247, 253, 252, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.iphone-bar {
  display: none;
  visibility: hidden;
}


.side-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side {
  margin-block-start: 205px;
  margin-inline-start: 104px;
  width: 460px;
}

.logo {
  width: 78px;
  height: 80px;
}

.purpose {
  font-family: Brown-Regular, Arial;
  font-size: 2.5rem;
  font-weight: 700;
  margin-block-start: 50px;
}

.paragraph {
  margin-block-start: 20px;
  font-family: Brown-Regular, Arial;
  font-size: 1rem;
  color: rgba(115, 115, 115, 1);
  width: 460px;
}

.mobile-paragraph, .mobile-footer, .mobile-visible {
  display: none;
  visibility: hidden;
}

.right-side {
  margin-inline-start: 120px;
  width: max-content;
  height: 679px;
  margin-block-start: 81px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  box-shadow: 0px 4px 50px 10px rgba(4, 8, 19, 0.1);
}

.details {
  display: grid;
  grid-template-columns: 238px 238px;
  margin-block-start: 40px;
  margin-inline: 40px;
  justify-content: space-between;
  gap: 24px;
}


label {
  display: block;
  font-family: "Sofia Pro", Arial;
  font-size: 0.87rem;
  font-weight: 600;
}

input, select {
  font-family: "Sofia Pro", Arial;
  font-size: 0.87rem;
  font-weight: 400;
  width: 238px;
  height: 48px;
  margin-block-start: 10px;
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 2px;
  padding-inline-start: 16px;
}

.bottom-section label {
  font-family: "Sofia Pro", Arial;
  font-size: 0.87rem;
  margin-block-start: 30px;
}

.bottom-section label:first-child {
  margin-block-start: 6px;
}



.bottom-section select, .bottom-section input {
  width: 500px;
  height: 48px;
  border: 1px solid rgba(240, 240, 240, 1);
  border-radius: 2px;
  
  
}

button {
  width: 500px;
  height: 48px;
  background-color: rgba(46, 196, 182, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Sofia Pro", Arial;
  font-size: 1rem;
  font-weight: 600;
  border: none;  
  margin-block-start: 30px;
}

footer {
  width: 463px;
  height: 25px;
  font-family: "Sofia Pro", Arial;
  font-size: 0.87rem;
  font-weight: 400;
  margin-inline-start: 58px;
  margin-block-start: 16px;
}

footer a {
  color: rgba(46, 196, 182, 1);
  font-family: "Sofia Pro", Arial;
  font-size: 0.87rem;
  font-weight: 500;
}


@media screen and (max-width: 375px)  {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 375px;
 }

 .iphone-bar {
  display: flex;
  visibility: visible;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 20px;

  
  > div {
    color: rgba(1, 28, 52, 1);
    font-size: 1rem;
    line-height: 18px;
    text-align: center;
    width: 54px;
    height: 14px;
    margin-block-start: 14px;
   }

   > img {
    width: 67px;
    height: 11.5px;
    margin-block-start: 17px;
   }
 }

  .default-paragraph, .default-footer, .bottom-section {
    display: none;
    visibility: hidden;
  }

  .mobile-paragraph, .mobile-footer {
    display: block;
    visibility: visible;
  }
  
  .side-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
  }
  
   .details {
    display: block;
    margin-block-start: 0;
    width: 100%;
  }

   .logo {
    width: 38.6px;
    height: 40px;
    margin-block-start: 0;
  }

   .purpose {
    width: 327px;
    height: 50px;
    font-size: 1.85rem;
    margin-block-start: 40px;
   }

   .mobile-paragraph {
    width: 327px;
    height: 50px;
    font-size: 1rem;
    font-weight: 300;
   }

   .mobile-visible {
    display: block;
    visibility: visible;
   }

   .left-side {
     margin-block-start: 74px;
     margin-inline-start: 24px;
   }

   .right-side, .left-side, .bottom-section {
      width: 327px;
   }

   .right-side {
     height: max-content;
     width: 327px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-block-start: 40px;
     margin-inline-start: 24px;
   }

   label {
    margin-block-start: 24px;
    margin-inline-start: 16px;
    font-weight: 600;
    font-family: "Sofia Pro", Arial;
   }
   
  input, select, button {
    width: 295px;
    height: 48px;
    margin-inline: 16px;
   }

   button {
    margin-block-end: 30px;
   }

  .mobile-footer {
    margin-inline-start: 30px;
    width: 316px;
    font-family: "Sofia Pro", Arial;
    font-weight: 500;
    text-align: center;
 }
}
